.empty-message{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

.paragraph-content{
    font-size: 3rem;
    color: white;
    animation: paragraph-content .5s infinite alternate;
}

@keyframes paragraph-content{
    to{
        opacity: .1;
        transform: translate3d(0, -1rem , 0);
    }
}