body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./fondo.png'); /* Especifica la ruta de la imagen */
  height: 100vh;
  background-size:cover; /* Ajusta el tamaño de la imagen para cubrir toda el área */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position:center; /* Centra la imagen en el elemento */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: grid;
}
