.li{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-radius: 2rem;
    border-color: white;
    background-color: #0025fa;
    margin: 0.2rem;
    gap: 1.2rem;
}
.li-p{
    color: white;
    font-size: 1.2rem;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}